.faq-page{
    color: white;
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 140px;
    padding-right: 140px;
    height: 90%;
    font-size: 25px;
    font-weight: 700;
}
.faqs{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 70px;
}
.question{
    background-color: rgb(45, 45, 45);
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
    transition: background-color 0.3s ease;
}
.question:hover{
    background-color: rgb(65, 65, 65);
}
.faq-question::-webkit-details-marker {
    display: none;
}
.answer{
    background-color: rgb(45, 45, 45);
    border-top: 1px solid black;
    font-size: 22px;
    font-weight: 500;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease;
}
.inner-content{
    overflow: hidden;
    line-height: 1.4;
    padding: 0 24px;
}
details[open] .answer{
    grid-template-rows: 1fr;
}
details[open] .inner-content{
    padding: 24px;
}
.icon{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease;
}
details[open] .icon{
    transform: rotate(45deg);
}

.sign-in-2{
    display: flex;
    flex-direction: column;
}
.ready{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
.sign-in-2 .info-4{
    max-width: 750px;
    margin-bottom: 70px;
}
