.opening-page{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.background-picture{
    position: relative;
    width: 100%;
    height: 100%;
}
.cover-pic{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.background-picture::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.8) 0, 
        rgba(0, 0, 0, 0) 60%, 
        rgba(0, 0, 0, 0.8) 100%
    );
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;

    padding: 15px 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.netflix-logo{
    width: 150px;
}
.sign-in-column{
    display: flex;
    align-items: center;
}
.language-picker{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: solid black 1px;
    
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-right: 12px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}
.language-picker select{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 500;
    padding: 2px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.language-picker i{
    pointer-events: none;
    font-size: 14px;
}
.language-picker select:focus {
    outline: none;
}
.language-picker select option {
    background-color: white;
    color: black;
}
.sign-in{
    background-color: rgb(229, 9, 20);
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px 17px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.sign-in:hover{
    background-color: rgb(189, 10, 19);
}

.page-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    width: 550px;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}
.div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.1;
}
.info-2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}
.info-3{
    margin-bottom: 15px;
}
.info-4{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.wrapper{
    position: relative;
    flex: 1;
}
.email{
    width: 100%;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: rgba(22, 22, 22, 0.7);
    font-size: 16px;
    padding: 24px 16px 8px 16px;
    box-sizing: border-box;
    color: white
}
.email-label{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: all 0.1s ease;
    color: rgb(179, 179, 179);
}
.email:focus ~ .email-label,
.email:not(:placeholder-shown) ~ .email-label {
    top: 8px;     
    font-size: 12px;       
    font-weight: 700;      
    transform: translateY(0);
}
.email:focus {
    outline: none;
    border-color: white;
}
.get-started{
    width: 200px;
    background-color: rgb(229, 9, 20);
    border: none;
    font-size: 25px;
    color: white;
    border-radius: 4px;
    white-space: nowrap;
    transition: all 0.3s;
}
.get-started:hover{
    background-color: rgb(189, 10, 19);
    cursor: pointer;
}
